[build]
base = "v2"
command = "npm run build"
publish = "dist"
functions = "netlify/functions"

[dev]
framework = "#custom"
command = "npm run dev -- --host --port 5173 --strictPort"
targetPort = 5173
port = 8888
functions = "netlify/functions"

[functions]
node_bundler = "esbuild"
