[build]
command = "cd v2 && npm run build"
publish = "v2/dist"
functions = "v2/netlify/functions"

[dev]
framework = "#custom"
port = 8888
command = "cd v2 && npm run dev -- --port 5173 --strictPort"
targetPort = 5173
functions = "v2/netlify/functions"

[functions]
node_bundler = "zisi"
external_node_modules = ["stripe", "jsonwebtoken"]
