[build]
base = "v2"
command = "npm run build"
publish = "dist"
functions = "netlify/functions"

[dev]
framework = "#custom"
port = 8888
command = "npm run dev -- --port 5173 --strictPort"
targetPort = 5173
functions = "netlify/functions"

[functions]
node_bundler = "zisi"
external_node_modules = ["stripe", "jsonwebtoken"]
