[build]
publish = "dist"
command = "bash ./scripts/tkfm-prebuild-clean.sh && npm run build && npm run postbuild"

[functions]
directory = "netlify/functions"

[[redirects]]
from = "/.netlify/functions/*"
to = "/.netlify/functions/:splat"
status = 200
force = true

